<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en-GB" class="no-js not-ie8"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ pageTitle }} | Apply for a Civil Service apprenticeship</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no">
    <!--[if gt IE 8]><!--> <link href="{{assets}}/css/main.css" media="all" rel="stylesheet" type="text/css"><!--<![endif]-->
    <!--[if lte IE 8]><link href="{{assets}}/css/main-ie8.css" media="all" rel="stylesheet" type="text/css"><![endif]-->

    <!--[if lte IE 8]>
      <link href="{{assets}}/css/fonts-ie8.css" media="all" rel="stylesheet" type="text/css" />
      <![endif]-->
      <!--[if gte IE 9]><!-->
        <link href="{{assets}}/css/fonts.css" media="all" rel="stylesheet" type="text/css" />
      <!--<![endif]-->
    <link rel="shortcut icon" href="{{assets}}/img/favicon.ico" type="image/x-icon">
    <link href="{{assets}}/css/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <script>
      var html = document.documentElement;
      html.className += " js-enabled";

      if (!('open' in document.createElement('details'))) {
        document.documentElement.className += ' no-details';
      }
    </script>
    <!--[if lte IE 8]>
      <script>
        var head = document.getElementsByTagName('head')[0],
        style = document.createElement('style');

        style.type = 'text/css';
        style.styleSheet.cssText = ':before,:after{content:none !important';
        head.appendChild(style);
        setTimeout(function(){
            head.removeChild(style);
        }, 0);
      </script>
    <![endif]-->
    <script src="{{assets}}/js/vendor/modernizr-custom.js"></script>

    <!-- Purely for pattern library code snippets -->
    <script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script>
    <style>
      .prettyprint {
        font-size: 14px;
      }
    </style>
    <!-- Purely for pattern library code snippets -->

  </head>
  <body>
    <div id="global-cookie-message" class="cookie-banner hidden">
      <div class="content-container" role="alert" style="padding-top: 0px;">
        <span class="copy-16">GOV.UK uses cookies to make the site simpler. <a href="/fasttrack/privacy.html">Find out more about cookies</a></span>
      </div>
    </div>
    {{> header }}
    <div class="content-container">
      {{> banner }}
      <main role="main" id="main">
        {{> body }}
      </main>
    </div>
    {{> footer }}

    <script src=""></script>
  </body>
</html>




